<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="static/css/main.css">
<script src="https://kit.fontawesome.com/19c81546e5.js" crossorigin="anonymous"></script>
<meta charset="UTF-8">
<title>FOURMYUNG GROUP</title>
</head>
<body>
<div class="container">
	<div class="header">
		<ul class="head_ul">
			<li><i class="fab fa-artstation"></i><a href="/">FourMyung</a></li>
			<li><a href="#">내명그룹소개</a></li>
			<li><a href="#">그룹소식</a></li>
			<li><a href="#">채용</a></li>
		</ul>
	</div>
	<div class="content">
		<div class="link">
			<div class="Hlink">
				<a href="../hotel/hotelMain">HOTEL</a>
			</div>
			<div class="Llink">
				<a href="../leisure/leisureMain">LEISURE</a>
			</div>
		</div>
	</div>
	<div class="footer">
		<footer th:include="thymeleaf/include/footer.html"></footer>
	</div>
</div>
</body>
</html>