<link rel="stylesheet" href="../static/css/topMenu.css">
<div class="navTop">
	<div class="index_top">
		<ul class="index_ul">
			<li><a href="../hotel/hotelMain">HOTEL</a></li>
			<li><a href="../leisure/leisureMain">WATER PARK</a></li>
			<li><a href="#">FOOD DINING</a></li>
		</ul>
	</div>
	<div class="login_Info">
		<ul class="login_ul">
			<li class="registration">상품등록
				<ul class="registration_ul">
					<li><a href="../regist/hotelList">객실등록</a></li>
					<li><a href="#">레저등록</a></li>
					<li><a href="#">푸드등록</a></li>
				</ul>
			</li>
			<span th:if="${session.authInfo == null}">
				<li><a href="../login">LOGIN</a></li>
			</span>
			<span th:if="${session.authInfo == null}">
				<li><a href="../mem/regist">JOIN US</a></li>
			</span>
			<span th:if="${session.authInfo != null}">
				<li><a href="../logout">LOGOUT</a></li>
			</span>
			<span th:if="${session.authInfo != null}">
				<li><a href="../my/MyPage">MYPAGE</a></li>
			</span>
			<li><a href="#">MEMBERSHIP</a></li>
		</ul>
	</div>
</div>