<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="../static/css/login/login.css">
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
$(document).ready(function(){
    $("#check1").ready(function(){
        if($("#check1").is(":checked")){
            alert("체크");
        }
        else{
            alert("체크 해제");
        }
    });
});
</script>
</head>
<body>
<form th:action="@{/loginOk}" name="frm" id="frm" method="post" th:object="${loginCommand}">
<header>
		<div class="groupMenu" th:include="thymeleaf/main/top_menu.html"></div>
		<div class="hotel_heder">
			<div class="hotelMenu" th:include="thymeleaf/hotel/h_tap_menu2.html"></div>
		</div>
</header>
<div class="container">
	<div class="login">
		<div class="header_text">
			<h2>MEMBER'S LOGIN</h2>
			<h4>WELCOME TO SKYBAY</h4>
		</div>
		<div class="login_div">
			<div><input type="text" name="userId" id="userId" placeholder="아아디">
				<font size="2", color="red">
					<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
					<span th:text="${valid_userId}" th:classappend="${valid_userId != null}? 'has-error'"></span>
				</font>
			</div>
			<div><input type="password" name="userPass" id="userPass" placeholder="비밀번호"><i class="fas fa-eye"></i>
				<font size="2", color="red">
					<span th:if="${#fields.hasErrors('userPass')}" th:errors="*{userPass}"></span>
					<span th:text="${valid_userPass}" th:classappend="${valid_userPass != null}? 'has-error'"></span>
				</font>
			</div>
			<input type="submit" value="로그인">
			<a href="../mem/regist">회원가입</a>
		</div>
		<div class="login_modify"></div>
	</div>
</div>
</form>
<footer th:include="thymeleaf/include/footer.html"></footer>
</body>
</html>