@charset "UTF-8";
body {
	width: 100%;
}
.content{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 120vh;
}
header h2{
	text-align: center;
}
.sub_header{
	border-bottom: 1px solid #8c5128;
	width: 100%;
}
.basic_Info{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 1000px;
}
.applicant,
.Support_Areas,
.salary,
.Job_related,
.person_Info,
.adress,
.phoneNum{
	display: flex;
	padding: 20px 10px;
	border-bottom: 1px solid #e7e7e7;
}
.fir_text{
	width: 100px;
	padding: 0px 10px;
}
.fir_input div{
	padding: 5px 5px;
}
.fir_input div span{
	margin-right: 30px;
}
.Career div{
	display: flex;
	margin-bottom: 5px;
}
.Career div div{
	width: 100px;
}
.resume_submit{
	width: 100%;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 10;
	height: 40px;
	background: #fff;
	border-top: 1px solid #555;
	display: flex;
	justify-content: center;
}
.resume_submit input[type="submit"]{
	padding: 8px 50px;
	position: absolute;
}