<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/member/cnclSucces.css">
<script src="https://kit.fontawesome.com/19c81546e5.js" crossorigin="anonymous"></script>
<script src="../static/jquery/jquery.js"></script>
<script type="text/javascript">
</script>
<title></title>
</head>
<body>
<header>
	<div class="groupMenu" th:include="thymeleaf/main/top_menu.html"></div>
</header>
<div class="container">
	<div class="content">
		<div class="roomheader">
			<div class="roomheader_1">
				<div><i class="fas fa-home"></i> > MY페이지 > 예약조회 > 객실</div>
				<div class="roomheader_h2"><h2>객실</h2></div>
			</div>
			<div class="roomheader_2">
			</div>
		</div>
		<div class="cnclMent">
			<div class="cnclImg"></div>
			<div class="cnclMent_1">
				<div class="ment1">고객님의 상품 예약 취소가<br><h2>정상적으로 완료되었습니다.</h2></div>
				<div class="ment2">고객님의 상품 예약취소가 정상적으로 완료되었습니다.<br/>저희 내명은 보다 나은 서비스를 위해 최선을 다하겠습니다.</div>
				<div class="ment3">
					<span>예약취소 관련 전화안내</span>
					<span class="span_cnclNum">0588-4888</span>
				</div>
				<div class="conBtn_div">
					<input type="button" class="confimBtn"><a href="../my/MyPage">확인</a>
				</div>
			</div>
		</div>
	</div>
	<div class="myPageMenu">
		<div class="myPageTapMenu" th:include="thymeleaf/member/myPageTap.html"></div>
	</div>
</div>
</body>
</html>