<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HOTEL MAIN</title>
<link rel="stylesheet" href="../static/css/hotel/hotelMain.css">
<script src="https://kit.fontawesome.com/19c81546e5.js" crossorigin="anonymous"></script>
<script src="../static/jquery/jquery.js"></script>
<script type="text/javascript" src="../static/js/hotel/roomSelect.js"></script>
</head>
<body>
<div class="container">
	<header>
		<div class="groupMenu" th:include="thymeleaf/main/top_menu.html"></div>
		<div class="hotel_heder">
			<div class="hotelMenu" th:include="thymeleaf/hotel/h_tap_menu2.html"></div>
			<div class="hotel_img"></div>
		</div>
	</header>
	<form th:action="@{/hotel/RoomSearch}" method="post" name='RommSearch' id="RommSearch" th:object="${hotelRoomCommand}">
	<div class="content">
		<div class="hotel_Res">
			<ul>
				<li class="text"> <i class="far fa-check-circle"></i></li>
				<li class="text">CHECK AVAILBILITY</li>
				<!-- <li><div class="chekIn">체크인 날짜<i class="far fa-calendar-alt"></i></div></li> -->
				<li>
					<!-- <input type="date" class="chek_In_Date" id="checkDateIn" data-placeholder="체크인 날짜" required aria-required="true"> -->
					<div class="form-date">
						<input type="date"  id="checkDateIn" required aria-required="true">
						<label for="inpDate">체크인 날짜</label>
					</div>
				</li>
				<li>
					<!-- <input type="date" class="chek_Out_Date" id="checkDateOut" data-placeholder="체크아웃 날짜" required aria-required="true"> -->
					<div class="form-date">
						<input type="date" id="checkDateOut" required aria-required="true">
						<label for="inpDate">체크아웃 날짜</label>
					</div>
				</li>
				<li>
					<select class="check_adult" name="check_adult">
						<option value="1">성인 1</option>
						<option value="2" selected>성인 2</option>
						<option value="3">성인 3</option>
						<option value="4">성인 4</option>
					</select>
				</li>
				<li>
					<select class="check_child" name="check_child">
						<option value="0" selected>소아 0</option>
						<option value="1">소아 1</option>
						<option value="2">소아 2</option>
						<option value="3">소아 3</option>
						<option value="4">소아 4</option>
						<option value="5">소아 5</option>
					</select>
				</li>
				<li><input type="submit" class="check_search" value="검색"></li>
			</ul>
		</div>
	</div>
	<div style="display: none;"><h3>도착</h3><input type="text" class="chek_In_Date" name="chek_In_Date" id="r_chek_In_Date"></div>
	<div style="display: none;"><h3>출발</h3><input type="text" class="chek_Out_Date" name="chek_Out_Date" id="r_chek_Out_Date"></div>
	</form>
	<div class="footer">
		<footer th:include="thymeleaf/include/footer.html"></footer>
	</div>
</div>
</body>
</html>