<link rel="stylesheet" href="../static/css/hotel/hotelMenu.css">
<div class="tapMenu">
	<button><a href="#">Four Group</a></button>
	<div class="offers">
		<button>SPECIAL OFFERS</button>
			<ul>
				<li><a href="#">ALL</a></li>
				<li><a href="#">ROOM PACKAGE</a></li>
				<li><a href="#">EVENT</a></li>
			</ul>
	</div>
	<div class="rooms">
		<button>ROOMS</button>
		<div>
			<ul>
				<li><a href="#">DELUXE ROOM</a></li>
				<li><a href="#">SUITE ROOM</a></li>
			</ul>
		</div>
	</div>
	<div class="dining">
		<button>DINING & BAR</button>
			<ul>
				<li><a href="#">Shell Factory</a></li>
				<li><a href="#">Sky Lounge & Buffet</a></li>
			</ul>
	</div>
	<div class="facilties">
		<button>FACILITIES</button>
			<ul>
				<li><a href="#">INFINITE POOL</a></li>
				<li><a href="#">SAUNA</a></li>
				<li><a href="#">FITNESS CENTER</a></li>
		</ul>
	</div>
	<div class="service">
		<button>CUSTOMER & SERVICE</button>
			<ul>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">FLOOR INFORMATION/</a></li>
				<li><a href="#">NEWS</a></li>
			</ul>
	</div>
</div>
