<link rel="stylesheet" href="../static/css/hotel/hotelMenu2.css">
<div class="wrapper">
	<nav>
		<ul>
			<li><a href="#">SPECIAL OFFERS</a></li>
			<li><a href="#">ROOMS</a></li>
			<li class="dropdown">
				<a href="#">DINING & BAR</a>
				<!-- <ul class="menu-area">
					<ul class="tap_menu_img">
						<img src="../static/img/main/hotel_sel.jpg" alt="">
					</ul>
					<ul>
						<h4>Graphics Design</h4>
						<li><a href="#">Logo Design</a></li>
						<li><a href="#">Broushure Design</a></li>
						<li><a href="#">Template Design</a></li>
						<li><a href="#">Card Design</a></li>
					</ul>
				</ul> -->
			</li>
			<li><a href="#">FACILTIES</a></li>
			<li><a href="#">CUSTOMER & SERVICE</a></li>
		</ul>
	</nav>
</div>
