<link rel="stylesheet" href="../../static/css/member/myPageTap.css">
<script src="../static/jquery/jquery.js"></script>
<script type="text/javascript">
</script>
<div class="m_content">
	<div class="m_header"> MY페이지 </div>
	<div class="m_ul_div">
		<ul class="m_ul">
			<li><a href="/my/MyPage">MY페이지</a></li>
			<li class="dropMenu" id="dropMenu"><a href="#">예약조회</a>
				<ul class="resSubMenu" id="resSubMenu">
					<li><a href="/my/myRoomSttus">객실</a></li>
					<li><a href="/my/mySports">레저</a></li>
				</ul>
			</li>
			<li><a href="#">회원정보수정</a></li>
			<li><a href="#">회원탈퇴</a></li>
		</ul>
	</div>
	<div class="m_contact">
		<div>Contact Center</div>
		<div class="centerNum">0588-4888</div>
	</div>
</div>