@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body {
	width: 100%;
}

.navTop{
	margin-top: 8px;
	display: flex;
}
.index_top,
.login_Info{
	width: 100%;
}
.index_ul li a,
.login_ul li a{
	text-decoration: none;
}
.index_ul li,
.login_ul li{
	list-style-type: none;
	padding: 0 8px;
}
.index_ul{
	display: flex;
	justify-content: flex-start;
	
}
.login_ul{
	display: flex;
	justify-content: flex-end;
}
.index_ul li{
	margin-left: 10px;
}
.registration:hover .registration_ul{
	display: block;
	position: absolute;
	background: white;
	z-index: 1;
}
.registration_ul{
	display: none;
}
.registration_ul li:hover{
	background-color: rgb(218, 179, 191);
}
.index_ul li i{
	font-size: 18px;
	color: #ffc107;
	margin-right: 4px; 
}