<link rel="stylesheet" href="../static/css/leisure/leisureMenu.css">

<div class="container">
	<ul class="menu">
		<li>워터파크
			<ul class="sub">
				<li><a href="../leisureInfo">워터파크 소개</a></li>
				<li><a href="">오시는 길</a></li>
			</ul></li>
		<li>이용안내
			<ul class="sub">
				<li><a href="../leisureInfo/oceanCharge">이용시간 / 요금</a></li>
				<li><a href="../leisureInfo/oceanInfo">이용방법</a></li>
				<li><a href="">대여안내</a></li>
			</ul></li>
		<li>시설안내
			<ul class="sub">
				<li><a href="">실내워터파크</a></li>
			</ul>
		</li>
		<li>
			<span th:if="${session.authInfo != null} and ${session.authInfo.memDivCd} == 1">	
				<a href="../reserv/reservation_1">예약하기</a>
			</span>
			<span th:if="${session.authInfo == null}">	
				<a href="../login">예약하기</a>
			</span>
		</li>
		<li>고객센터
			<ul class="sub">
				<li><a href="">공지사항</a></li>
				<li><a href="">고객의 소리</a></li>
				<li><a href="">자주 묻는 질문</a></li>
				<span th:if="${session.authInfo != null} and ${session.authInfo.memDivCd} == 2">
					<li><a href="../leisure/manageMain">관리하기</a></li>
				</span>
			</ul></li>
	</ul>
</div>