<link rel="stylesheet" href="../static/css/leisure/leisureMenu.css">

<div class="container">
	<ul class="menu">
		<li><a href="">워터파크</a> 
			<ul class="sub">
				<li><a href="">워터파크 소개</a></li>
				<li><a href="">오시는 길</a></li>
			</ul></li>
		<li><a href="">이용안내</a>
			<ul class="sub">
				<li><a href="">이용시간 / 요금</a></li>
				<li><a href="">이용방법</a></li>
				<li><a href="">대여안내</a></li>
			</ul></li>
		<li><a href="">시설안내</a>
			<ul class="sub">
				<li><a href="">실내워터파크</a></li>
			</ul></li>
		<li><a href="../reserv/reservation_1">예약하기</a></li>
		<li><a href="">고객센터</a>
			<ul class="sub">
				<li><a href="">공지사항</a></li>
				<li><a href="">고객의 소리</a></li>
				<li><a href="">자주 묻는 질문</a></li>
				<li><a href="manageMain">관리하기</a></li>
			</ul></li>
	</ul>
</div>