<!doctype html>
<html>
<head>
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css"
	type="text/css" />
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<title>CSS Project2</title>
<style type="text/css">
* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	padding: 10px;
	position: relative;
	background-color: #fff;
	word-break: break-all;
	-ms-word-break: break-all;
	font-weight: 400;
}

table {
	width: 700px;
}

sub_visual reser2{
	background:
		url("../../img/leisure/sb_reservation2.jpg") no-repeat center top;
}

.sub_visual {
	width: 100%;
	height: 186px;
	padding-top: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p,
	button {
	margin: 0;
	padding: 0;
}
h2, h5{
	line-height: 50px;
}
div {
	display: block;
}
.btn_wrap_ty1 {
    display: block;
    width: 406px;
    margin: 0 auto;
    overflow: hidden;
}
.leftcolumn {
	margin: 0 auto;
	width: 70%;
	padding: 20px;
	color: black;
}

.location {
	padding: 30px;
	font-size: 13px;
}
/* Clear floats after the columns */
.contents:after {
	content: "";
	display: table;
	clear: both;
}
.info_list{
	font-size: 13px;
}
</style>
<script>


</script>
</head>

<body>
	<form th:action='@{/reserv/reservation_2}' method="post">
	<header>
		<div class="groupMenu" th:include="thymeleaf/main/top_menu.html"></div>
		<div class="leisureMenu"
			th:include="thymeleaf/leisure/leisure_top.html"></div>
	</header>

	<div class="contents">
		<div class="sub_visual reser2">
			<strong><img
				th:src="@{/static/img/leisure/loc_tit_reservation.png}" style="width: 100%;"></strong>
			<!-- 			<span class="width_line"></span>
			<div class="location">
				<span class="home"></span>
				<span class="line"></span>
				<span class="txt">예약하기</span>
				<span class="line"></span>
				<span class="txt">워터킹덤 예약</span>
			</div> -->
		</div>
		<div>
			<h1 align="center">워터파크 예약</h1>
			<img th:src="@{/static/img/leisure/reser_hotel_step01.png}" style="display: block; margin: 0px auto;">
		</div>
		<div class="leftcolumn">
			<div class="privacy_wrap">
				<dl>
					<dt>
						<h2><strong>이용약관</strong></h2>
						<div class="check_box">
							<input type="checkbox" id="water_agree" name="water_agree" value="Y"  required>
							<label for="water_agree">동의함</label>
						</div>
					</dt>
					<dd><textarea readonly="readonly" rows="25" cols="130" style="resize: none;">
제 1조 목적<br>
이 약관은 워터킹덤의 사업자(이하 "회사"라 한다.)와 워터킹덤의 시설물을 이용하려는 모든 고객(이하 "이용자"라 한다.)간의 시설물 이용 및 이에 따르는 책임에 관한 사항을 규정함을 목적으로 한다.<br><br>

제 2조 약관의 적용<br>
 이 약관은 워터킹덤 회사와 워터킹덤 이용자 모두에게 적용된다. 입장과 시설물에 관한 규정 사항은 본 약관에서 정하는 바에 의하고 본 약관에 규정 되지 않은 내용에 관하여는 법령 또는 관습에 의한다.<br><br>

제 3조 개장<br>
1. 개장은 연중무휴를 원칙으로 하되 특별한 경우(예측하지 못한 기상변화, 사업자의 경영사정, 영업정책 등)에는 일정기간 휴장 할 수 있다. <br>
2. 운영시간은 별도로 게시하여 운영 하며 기타 및 회사 사정에 따라 변경될 수 있다. (변동사항 발생 시 홈페이지 및 안내 판 등을 이용하여 고지한다.)<br><br>

제 4조 요금의 적용<br>
1. 적용 연령의 구분가 : 소인: 만3세~12세 이하, 대인: 만13세 이상인 자(단, 초등학교 6학년까지는 소인, 중학생부터는 대인요금 적용), 36개월 미만 영유아 무료입장 (관련서류 증빙자에 한함)<br>
2. 단체요금의 적용 : 20명 이상의 요구에 의해 발권하며 해당 요금은 별로도 게시함. 단, 일정기간(성수기 등)에는 발권하지 않는다. (학생 단체)<br>
3. 티켓 종류별 적용 내용<br>
 (1). 일반권 : 입장과 함께 전 시설의 이용과 찜질방 시설을 이용할 수 있는 티켓 (별도의 유료시설 제외)<br>
 (2). 찜질방 : 찜질방 이용 및 대욕장 을 이용할 수 있는 티켓<br>
 (3). 기타 : 각 이용권은 사업자의 영업정책상 조정될 수 있으며 이용객의 특성에 맞는 이용권 제도를 실시할 수 있다.<br>
4. 우대요금은 사업자의 영업 환경 등에 따라 변경될 수 있으며, 이에 대한 구체적 내용은 매표소 등에 기재하여 시행 한다.<br>
5. 우대요금 적용 시 이를 확인할 수 있는 증명(신분증)을 제시 하여야 한다.<br>
6. 요금은 별도로 게시하며, 사업자의 경영사정 및 정책에 따라 변경 될 수 있다.<br><br>
						 
제 5조 입장권 확인<br>
1. 워터킹덤 입장 시 입장객은 직원의 입장권 확인에 응할 의무가 있다.<br>
2. 무료입장 및 할인혜택을 부여 받기 위한 입장객은 해당 사항의 해당증명을 제시해야 한다.<br>
3. 워터킹덤 내 모든 시설물 이용 및 물품 구입/대여 시 결제는 사용한 후에 락카키로 후불 결제 한다.<br>
4. 기타 이용권을 소지한 입장객은 이용권에 고지한 내용을 준수하고 직원의 통제에 따른다.<br>
5. 명시된 입장권의 이용 범위를 초과 하는 경우 또는 입장권 없이 입장한 경우 본사에 손실을 끼친 부분에 대하여 적절한 보상을 해야 한다.<br><br>

제 6조 요금 및 환불 규정<br>
1. 입장권 구매 시 환불을 하지 않음을 원칙으로 한다. 단, 입장 후 발권 기준 1시간이 경과 하지 아니하거나, 시설을 이용하지 않았다는 사실이 명백할 경우에는 환불을 원칙으로 하며, 정해진 매표시간 내에 환불을 요청할 경우에만 가능하다. 당일 마감 후에 환불을 요청 할 수 없다.<br>
2. 이용자가 부상 등으로 불가피하게 퇴장할 경우 퇴장사유가 명백히 회사의 귀책사유에 의한 것으로 판명될 시에 환불을 원칙으로 하며, 환불의 범위는 환자와 1명의 보호자로 한다.<br>
3. 입장료 및 시설 이용료는 별도 게시되어 시행하며 법규에 정하는 인상의 사유가 있을 경우 변경될 수 있다.<br><br>

제 7조 이용자 안전 수칙<br>
1. 시설물 내부에서는 절대 뛰지 않는다.<br>
2. 물에 들어가기 전에는 손, 발 등의 경련을 방지하기 위해 반드시 준비 운동을 한다.<br>
3. 물에 처음 들어가기 전 심장에서 먼 부분부터(다리, 팔, 얼굴, 가슴 등의 순서) 물을 적신 후 들어간다.<br>
4. 수영 도중 몸에 소름이 돋고 피부가 당겨질 때 몸을 따뜻하게 감싸고 휴식을 취한다.<br>
5. 50분 수영 후 10분간 휴식을 취할 수 있도록 한다.<br>
6. 구조 경험이 없는 사람은 안전 구조 이전에 무모한 구조를 삼가 해야 한다.<br>
7. 물에 빠진 사람을 발견하면 안전 요원에게 소리쳐 알리고 함부로 물속에 뛰어들지 않는다.<br>
8. 어린아이를 동반할 경우 안전을 위해 보호자의 계속적인 주의가 필요하다.<br>
9. 워터파크 내부 모든 풀에서는 다이빙을 금한다.<br>
10. 단체 이용 시 2명의 단체원에 1명의 인솔자가 반드시 있어야 한다.<br><br>

제 8조 입장의 제한<br>
1. 입장 인원의 초과수용 시 입장객의 안전을 위해 입장을 제한할 수 있다.<br>
2. 적정 입장 인원 초과 시 입장권 판매는 중단이 가능하며, 이를 입장 전 이용자에게 안내 및 고지한다. <br>
3. 당사는 공중위생관리법 제11조 제1항 및 제2항에 의거 심야 22:00부터 05:00까지 보호자를 동행하지 않은 18세미만 연령의 출입 및 이용을 제한한다. 단, 부모 등 친권자가 동반하거나 출입동의서를 얻을 경우에는 출입이 가능하다. 또한 음주자는 입장을 금지한다.<br><br>

제 9조 이용 제한<br>
1. 입장객의 안전을 도모하고 공공성을 유지하기 위하여 아래의 규칙을 준수해야 한다.<br>
2. 아래 규정을 위반할 경우, 워터킹덤 입장 및 시설물 이용에 제한을 받을 수 있다.<br>
 (1). 위험한 물건의 반입<br>
 (2). 물품의 판매 및 진열<br>
 (3). 전달 배포 및 집회 및 연설<br>
 (4). 상업 목적의 촬영<br>
 (5). 각종 시설물 및 대여 시설의 반출<br>
 (6). 워터파크 및 관련 시설의 운영을 방해 하는 일체의 행위<br>
 (7). 다른 사람에게 혐오감을 주는 복장이나 고성방가 폭력행사를 하는 경우<br>
 (8). 10세 미만의 어린이는 반드시 보호자가 동반 하여야 한다.<br>
 (9). 돗자리, 유리용기, 휠체어, 유모차 등의 반입을 금 한다.(장애우를 위한 휠체어제외)<br>
 (10). 제반 이용규칙 및 약관을 이행하지 않음과 입장객의 부주의에 의하여 발생되는 사고에 대하여 회사는 책임을 지지 않는다.<br><br>
 (11). 만취자에 대하여 입장 및 이용을 제한하거나 강제 퇴장 조치할 수 있다.<br>
 (12). 애완동물은 동반하여 입장할 수 없다.<br>
 (13). 슬라이드 탑승 시 안경, 시계 , 안세사리 등의 착용을 금지한다.<br>
 (14). 금속성의 날카로운 장식물이 있는 수영복의 착용을 금지한다.<br>
 (15). 오리발 및 스노클링 사용을 금지 한다.<br><br>

제 10조 시설물 이용의 제한<br>
1. 시설물 이용 시 입장객의 안전을 위해 신장(120cm이하), 건강상태 등의 신체조건을 고려하여 해당 시설물 이용을 제한할 수 있다.<br>
2. 영업시간 중 안전을 위한 점검 시 해당 시설물의 이용을 일시적으로 중단할 수 있다.<br>
3. 각 시설물 이용 규칙과 제한 및 주의 사항은 시설별로 게시 한다.<br><br>

제 11조 장애우의 시설 이용<br>
1. 회사는 이용자가 편리하게 이용 할 수 있도록 편의를 제공한다.<br>
2. 이용 시 1인 이용자에 1인 인솔자(보호자)를 반드시 동반 해야 한다.<br>
3. 시설 이용 중 이용자의 안전이 고려되지 않을 때 시설 이용을 제한할 수 있다.<br><br>

제 12조 음식물 제한 및 보관<br>
						 1. 고객의 안전하고 쾌적한 환경 유지를 위하여 2항에서 언급하는 음식물을 제외한 모든 음식물을 제한 한다.<br>
						  (1). 위생 사고를 발생 시킬 수 있는 음식물 제한<br>
						  (2). 과도한 냄새로 인해 다른 이용자에게 불쾌감을 줄 수 있는 음식물 제한<br>
						  (3). 껍질, 부스러기, 액체 기타 잔여물 등으로 쾌적한 환경을 저해 하거나 수질오염 등 물놀이 시설을 오염시킬 수 있는 음식물 제한<br>
						  (4). 다른 이용자의 안전을 위협 할 수 있는 음식물 ( 병류, 화기를 이용해 조리를 하는 음식물 ) 제한<br>
						 2. 플라스틱 병에 담긴 음료수, 물, 이유식, 환자를 위한 특별식, 껍질 및 씨를 제거한 과일은 반입을 허용한다.<br>
						 3. 음식물 보관 시 냉장과 실온을 명시하지 않아 생기는 변질에 대하여 회사는 책임을 지지 않는다.<br>
						 4. 음식물 보관 시 보관 표를 작성하여 음식물에 1부를 부착 하고 이용자에게 1부를 인계 한다.<br>
						 5. 보관표 분실로 인한 모든 사고에 대하여 회사는 책임을 지지 않는다.<br>
						 6. 보관은 당일을 원칙으로 하며 마감시간 후에 임의 처분 한다.<br>
						 7. 당일이 지나 처분한 물건에 대하여 회사는 책임을 지지 않는다.<br><br>

						제 13조 재 입장<br>
						 1. 입장한 후 외출은 금지한다. (단, 회사가 인정 한 경우 정산 후 가능)<br>
						 2. 입장객이 퇴장한 후 재 입장은 원칙적으로 불가능하다. ( 단, 회사가 인정하는 경우에는 재 입장이 가능하되, 입장소 에서 확인 후 재 입장을 원칙으로 한다.)<br><br>

						제 14조 미아 보호<br>
						 1. 영업시간 중<br>
						  (1). 미아보호소를 운영하며 미아를 보호자에게 인계하기 위하 제반 조치를 취한다.<br>
						  (2). 미아 접수 및 관리 대장을 비치 활용 한다.<br>
						 2. 영업시간 종료 후<br>
						  (1). 당일 발생 미아는 해당 미아 발생기록과 함께 관할 경찰서에 인계한다.<br><br>

						제 15조 분실물 처리<br>
						 1. 분실물 보관소를 운영하며 물품의 인계를 위한 제반 조치를 취한다.<br>
						 2. 분실물 접수 및 인수인계사항은 분실물 처리장에 기록, 유지한다.<br>
						 3. 접수된 물품을 소유자가 찾아가지 않을 시 유실물 법에 의거 7일 경과 후 처분한다.<br>
						 4. 분실물에 대하여 소유주가 찾으러 오지 못할 시 동의를 받아 택배로 발송한다. (착불발송)<br>
						 5. 기타 분실물 처리에 관한 제반 사항은 관련법의 규정에 따른다.<br><br>

						제 16조 귀중품의 보관<br>
						 1. 이용자는 필요한 경우 귀중품 등 각종 물품에 대하여 그 품명을 기재하여 회사의 확인 하에 보관함에 보관 시켜야 한다.<br>
						 2. 제 1항의 규정에 따라 회사에게 보관 시키지 아니한 경우 회사는 그 물품의 분실, 훼손에 대하여 책임을 지지 않는다.<br>
						 3. 귀중품 보관함의 열쇠 분실로 인한 모든 사고에 대하여 회사는 책임을 지지 않는다.<br><br>

						제 17조 자율보관함의 보관<br>
						 1. 당일 보관을 원칙으로 한다.<br>
						 2. 이용 전 사용 방법을 충분히 숙지 한 후 이용 하도록 한다.<br>
						 3. 사용방법을 숙지하지 않고 이용 중 발생하는 문제에 대하여 회사는 책임을 지지 않는다.<br>
						 4. 타인에게 비밀번호 유출 시 발생하는 문제에 대해서 회사는 책임을 지지 않는다.<br>
						 5. 당일 마감 후 발생한 물품들에 대해서는 유실물법에 따라 7일 경과 후 임의로 폐기         처분 한다.<br>
						 6. 자율 보관함에서 발생한 모든 분실물들에 대하여는 책임지지 않는다.<br>
						 7. 자율 보관함에는 폭발물, 인화성 물질, 부폐성 물품, 귀중품, 현금 등의 고가의 물품         보관을 금한다.<br><br>

						제 18조 사고 처리<br>
						 1. 당사의 시설물 관리 등 관리상의 잘못으로 인하여 입장객에게 피해 혹은 손해를 발생 시켰을 경우 보상의 의무를 다한다.<br>
						 2. 이용자의 귀책사유로 부상을 입었을 경우 도의적인 책임으로 병원 후송을 제공하며 비용은 이용자가 부담 한다.<br><br>

						제 19조 대피<br>
						 1. 이용자는 시설 이용 중 다음 각 호의 사유가 발생한 경우에는 이용을 중지하고 그 사유가 끝날 때 까지 안전한 장소로 대피 하여야 한다.<br>
						 (1). 기타 이용자의 안전을 위해 필요하다고 인정되어 회사가 대피를 요청할 때<br><br>

						* 이 약관에서 규정되지 아니한 사항 또는 이 계약의 해석에 관하여 다툼이 있는 경우에는 회사와 이용자가 합의하여 결정하되, 합의가 이루어지지 아니한 경우에는 약관의 규제에 관한 법률, 민법, 상법 등 관계 법령 및 공정 타당한 일반 관례에 따른다.
					</textarea>
					</dd>
				</dl>
				<dl>
					<dt>
						<h2><strong>개인정보 수집 및 이용에 대한 동의</strong></h2>
						<div class="check_box">
							<input type="checkbox" id="water_pri" name="water_pri" value="Y" required>
							<label for="water_pri">동의함</label>
						</div>
					</dt>
					<dd><textarea readonly="readonly" rows="25" cols="130" style="resize: none;">
						워터킹덤(이하 "본 기관"이라 함)이 취급하는 모든 개인정보는 「개인정보 보호법」(이하 "법"이라 함) 등 관련 법령의 개인정보 보호규정을 준수하여 수집·보유·처리되고 있습니다.<br>
						본 기관은 법에 따라 이용자의 개인정보 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.<br>
						또한 개인정보 처리방침을 변경하는 경우에는 시행의 시기, 변경된 내용을 정보주체가 쉽게 확인할 수 있도록 변경 전·후를 비교하여 공개하도록 할 예정입니다.<br><br>


						1. 개인정보의 처리 목적, 처리 및 보유 기간, 처리하는 개인정보의 항목
						본 기관은 개인정보의 처리 목적, 처리 및 보유 기간, 처리하는 개인정보의 항목을 법 제32조에 따라 행정자치부에 등록·공개하고 있습니다.?개인정보파일 현황은 개인정보보호 종합지원 포털(www.privacy.go.kr)&gt;개인정보민원&gt;개인정보의 열람 등 요구&gt;개인정보파일 목록 검색에서 기관명에 "건강보험심사평가원"을 입력하여 확인할 수 있습니다.<br>

						2. 개인정보의 목적 외 이용 및 제3자 제공에 관한 사항<br>
						개인정보 목적외 이용 및 제3자 제공 현황?본 기관은 원칙적으로 정보주체의 개인정보를 수집·이용 목적으로 명시한 범위 내에서 처리하며, 다음의 경우를 제외하고는 정보주체의 사전 동의 없이는 본래의 목적 범위를 초과하여 처리하거나 제3자에게 제공하지 않습니다.<br>
						○ 정보주체로부터 별도의 동의를 받는 경우?<br>
						○ 다른 법률에 특별한 규정이 있는 경우?<br>
						○ 정보주체 또는 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를 받을 수 없는 경우로서 명백히 정보주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우?<br>
						○ 통계작성 및 학술연구 등의 목적을 위하여 필요한 경우로서 특정 개인을 알아 볼 수 없는 형태로 개인정보를 제공하는 경우?<br>
						○ 개인정보를 목적 외의 용도로 이용하거나 이를 제3자에게 제공하지 아니하면 다른 법률에서 정하는 소관업무를 수행할 수 없는 경우로서 보호위원회의 심의·의결을 거친 경우?<br>
						○ 조약, 그 밖의 국제협정의 이행을 위하여 외국정보 또는 국제기구에 제공하기 위하여 필요한 경우?<br>
						○ 범죄의 수사와 공소의 제기 및 유지를 위하여 필요한 경우?<br>
						○ 법원의 재판업무 수행을 위하여 필요한 경우?<br>
						○ 형(刑) 및 감호, 보호처분의 집행을 위하여 필요한 경우<br>
						본 기관은 위에 따라 다른 기관에 개인정보를 연계·제공할 수 있습니다. 이 경우 개인정보를 이용하거나 제공받고자 하는 기관에게 이용 목적, 이용 방법, 이용 기간, 이용 형태 등을 제한하거나, 개인정보의 안전성 확보를 위하여 필요한 구체적인 조치를 마련하도록 문서로 요청하며, 연계·제공되는 개인정보는 이용 및 제공 목적에 맞게 최소한으로 제공합니다.<br><br>

						3. 개인정보 처리의 위탁에 관한 사항<br>
						개인정보 처리 위탁 현황 개인정보의 처리업무를 위탁하는 경우에는 법 제26조에 따라 다음의 내용이 포함된 문서에 의하여 처리하고 있습니다.<br>
						○ 위탁업무 수행 목적 외 개인정보의 처리 금지에 관한 사항 <br>
						○ 개인정보의 기술적·관리적 보호조치에 관한 사항 <br>
						○ 그 밖에 개인정보의 안전한 관리에 관한 사항 <br>
						○ 위탁업무의 목적 및 범위 <br>
						○ 재위탁 제한에 관한 사항 <br>
						○ 개인정보에 대한 접근 제한 등 안전성 확보 조치에 관한 사항 <br>
						○ 위탁업무와 관련하여 보유하고 있는 개인정보의 관리현황 점검 등 감독에 관한 사항 <br>
						○ 개인정보 처리업무를 위탁받아 처리하는 자(이하 "수탁자"라 함)가 준수하여야 할 의무를 위반한 경우의 손해배상 등 책임에 관한 사항<br>
						○ 본 기관은 수탁자와 위탁업무의 내용을 당 홈페이지에 공개하고 있습니다.<br><br>

						4. 정보주체의 권리·의무 및 그 행사방법에 관한 사항<br>
						정보주체는 다음과 같은 권리를 행사 할 수 있으며, 만14세 미만 아동의 법정대리인은 그 아동의 개인정보에 대한 열람, 정정·삭제, 처리정지를 요구할 수 있습니다.<br><br>

						가. 개인정보의 열람 요구  <br>
						정보주체는 법 제35조에 따라 자신의 개인정보에 대한 열람을 요구할 수 있습니다. 다만, 다음의 경우에는 열람이 제한되거나 거절될 수 있습니다.<br>
						○ 법률에 따라 열람이 금지되거나 제한되는 경우<br>
						○ 다른 사람의 생명·신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우 <br>
						○ 공공기관이 다음에 해당하는 업무를 수행할 때 중대한 지장을 초래하는 경우<br>
						○ 조세의 부과·징수 또는 환급에 관한 업무 <br>
						○ 「초·중등교육법」및「고등교육법」에 따른 각급 학교,「평생교육법」에 따른 평생교육시설, 그 밖의 다른 법률에 따라 설치 된 고등교육기관에서의 성적 평가 또는 입학자 선발에 관한 업무<br>
						○ 학력·기능 및 채용에 관한 시험, 자격 심사에 관한 업무 <br>
						○ 보상금·급부금 산정 등에 대하여 진행 중인 평가 또는 판단에 관한 업무<br>
						○ 다른 법률에 따라 진행 중인 감사 및 조사에 관한 업무<br><br>

						나. 개인정보의 정정·삭제 요구<br>
						자신의 개인정보를 열람한 정보주체는 법 제36조에 따라 정정·삭제를 요구할 수 있습니다. 다만, 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.<br>
						다. 개인정보의 처리정지 요구<br>
						정보주체는 법 제37조에 따라 자신의 개인정보 처리의 정지를 요구할 수 있습니다. 다만, 다음의 경우에는 처리정지 요구가 거절될 수 있습니다.<br>
						○ 법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우<br>
						○ 다른 사람의 생명·신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우<br>
						○ 공공기관이 개인정보를 처리하지 아니하면 다른 법률에서 정하는 소관업무를 수행할 수 없는 경우<br>
						○ 개인정보를 처리하지 아니하면 정보주체와 약정한 서비스를 제공하지 못하는 등 계약의 이행이 곤란한 경우로서 정보주체가 그 계약의 해지의사를 명확하게 밝히지 아니한 경우<br>
						위에 따른 권리행사는 [별지 제1호서식]의 개인정보 열람, 정정ㆍ삭제, 처리정지 요구서에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 할 수 있으며,본 기관은 이에 대해 지체 없이 조치하겠습니다.<br>
						위에 따른 권리행사의 경우에는 다음과 같이 본인이 정보주체자임을 입증할 수 있는 확인절차를 거쳐야 합니다.<br>
						정보주체(본인)인 경우에는 신분을 확인할 수 있는 증명서(주민등록증, 운전면허증 등 행정기관에 의해 공인된 것으로 쉽게 변조 및 도용을 할 수 없는 것) 제출<br>
						정보주체의 법정대리인이나 위임을 받은 자는 [별지 제2호서식]의 위임장, 위임자, 대리인의 주민등록증 등 신분을 확인할 수 있는 증명서 제출<br>
						웹사이트나 온라인은 공인인증서를 통한 인증절차로 확인<br><br>

						5. 개인정보의 파기 절차 및 방법<br>
						본 기관은 원칙적으로 보유한 개인정보가 불필요하게 되었을 때(보존기간 경과, 처리목적 달성 등) 지체없이 해당 개인정보를 파기합니다. 다만, 다른 법령에 따라 보존하여야 하는 경우에는 그러하지 않을 수 있습니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.<br>
						가. 파기절차<br>
						불필요한 개인정보 및 개인정보파일은 개인정보 보호책임자의 책임 하에 내부방침 및 법령절차에 따라 처리함<br>
						나. 파기기한<br>
						보유기간이 만료되었거나 개인정보의 처리목적 달성, 해당 업무의 폐지 등 그 개인정보가 불필요하게 되었을 때에는 지체 없이 파기함<br>
						다. 파기방법<br>
						전자적 파일형태인 경우에는 기록을 재생할 수 없는 기술적 방법으로 영구 삭제하며, 종이에 출력된 개인정보는 분쇄기로 파쇄하거나 소각을 통하여 파기함<br><br>

						6. 개인정보의 안전성 확보조치<br>
						본 기관은 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.<br>
						가. 개인정보에 대한 접근 제한<br>
						개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여·변경·말소를 통하여 개인정보에 대한 접근 통제를 위한 필요한 조치를 하고 있으며, 침입차단시스템을 이용하여 외부로부터의 무단접근을 통제함<br>
						나. 접속기록의 보관<br>
						개인정보처리시스템에 접속한 기록(웹로그, 요약정보 등)을 최소 6개월 이상 보관·관리함<br>
						다. 개인정보의 암호화<br>
						개인정보는 암호화 등을 통하여 안전하게 저장 및 관리되고 있으며, 중요한 데이터는 저장 및 전송 시 암호화하여 사용하는 등의 별도 보안기능을 사용함<br>
						라. 개인정보 취급 직원의 최소화 및 교육<br>
						개인정보를 취급하는 직원은 반드시 필요한 인원에 한하여 지정·관리하고 있으며, 취급직원을 대상으로 안전한 관리를 위한 교육을 실시함<br>
						마. 보안 프로그램 설치 및 주기적 점검·갱신<br>
						해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안 프로그램을 설치하고 주기적으로 갱신·점검함<br>
						바. 비인가자에 대한 출입 통제<br>
						개인정보를 보관하고 있는 개인정보시스템의 물리적 보관 장소를 별도로 두고 이에 대한 출입 통제절차를 수립·운영함<br><br>

						7. 권익침해 구제방법<br>
						정보주체는 개인정보 침해로 인한 피해를 구제받기 위하여 개인정보 분쟁조정위원회, 개인정보 침해신고센터 등에 분쟁해결이나 상담 등을 신청할 수 있습니다.<br>
						보완자료 목록 구분 연락처<br>
						개인정보 분쟁조정위원회 02-405-5150(kopico.or.kr), 118(privacy.kisa.or.kr)<br>
						개인정보 침해신고센터 118(privacy.kisa.or.kr)<br>
						대검찰청 사이버범죄수사단 02-3480-3571(cybercid@spo.go.kr)<br>
						경찰청 사이버안전국 182(www.netan.go.kr)<br>
						또한 개인정보의 열람, 정정·삭제, 처리정지 등에 대한 정보주체자의 요구에 대하여 본 기관이 행한 처분 또는 부작위로 인하여 권리 또는 이익을 침해받은 자는 본 기관에 이의신청을 할 수 있으며, 행정심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다.<br><br>

						8. 개인정보 보호책임자 및 담당자 연락처<br>
						개인정보 보호책임자 등은 다음과 같습니다.<br>
						개인정보 보호책임자: 행정부장 도준우(031-703-0175)<br><br>

						9. 영상정보처리기기 설치·운영<br>
						[영상정보처리기기 운영·관리 방침]을 참조하시기 바랍니다.<br>
						영상정보처리기기 설치·운영 자체점검 결과<br><br>

						10. 개인정보 처리방침 변경에 관한 사항<br>
						이 방침은 2015년 2월 1일에 개정되었으며, 법령ㆍ정책 또는 보안기술의 변경에 따라 내용의 추가, 삭제 및 수정이 있을 때에는 시행 7일전까지 본 기관 홈페이지를 통하여 그 변경 내용 등을 공지하도록 하겠습니다.<br>
						공고일자: 2015년 02월 01일 / 시행일자: 2015년 02월 08일
						</textarea>
					</dd>
				</dl>
			</div>
			<div class="btn_wrap_ty1 mb40">
				<button><a href="/" class="btn_ty03 btn_st06">홈으로</a></button>
				<input type="submit" value="다음" >
			</div>
		</div>
	</div>

	<div class="footer">
		<footer th:include="thymeleaf/include/footer.html"></footer>
	</div>
	</form>
</body>
</html>