<!doctype html>
<html>
<head>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<link rel="stylesheet" href="../static/css/leisure/reserv_top.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<title>CSS Project2</title>
</head>

<body>
	<form th:action='@{/reserv/reservation_4}' method="post" th:object="${reservCommand2}">
	<header>
		<div class="groupMenu" th:include="thymeleaf/main/top_menu.html"></div>
		<div class="leisureMenu"
			th:include="thymeleaf/leisure/leisure_top.html"></div>
	</header>


	<div class="contents">
		<div class="sub_visual reser2">
			<strong><img th:src="@{/static/img/leisure/loc_tit_reservation.png}" style="width: 20%; display: block; margin: auto; padding: 75px 0;"></strong>
			<!-- 			<span class="width_line"></span>
			<div class="location">
				<span class="home"></span>
				<span class="line"></span>
				<span class="txt">예약하기</span>
				<span class="line"></span>
				<span class="txt">워터킹덤 예약</span>
			</div> -->
		</div>
		<div>
			<h1 align="center">워터파크 예약</h1>
			<img th:src="@{/static/img/leisure/reser_hotel_step03.png}" style="display: block; margin: 0px auto;">
		</div>
		<div class="leftcolumn">
			<div class="card">
			<h2>이용자정보</h2><br/>
			<table style="width: 100%; border: none;">
				<tr>
					<td>이용상품</td>
					<td>워터파크</td>
				</tr>
				<tr>
					<td>이용자명</td>
					<td>[[${session.authInfo.userNm}]]</td>
				</tr>
				<tr>
					<td>성별</td>
					<td>[[${session.authInfo.userGender}]]</td>
				</tr>
				<tr>
					<td>생년월일</td>
					<td>[[${session.authInfo.userBirth}]]</td>
				</tr>
				<tr>
					<td>이메일</td>
					<!-- [[${session.authInfo.userEmail}]] -->
					<td><input type="text" id="userEmail" name="userEmail" ></td>
				</tr>
				<tr>
					<td>휴대번호</td>
					<!-- [[${session.authInfo.userPh}]] -->
					<td><input type="text" id="userPh" name="userPh" ></td>
				</tr>
				<tr>
					<td>수령장소</td>
					<td></td>
				</tr>
				<tr>
					<td colspan=2>
						<div class="btn_area" style="text-align: center;">
							<input type="button" value="홈으로" class="btnJoin" onclick="location.href='../leisure/leisureMain'">
							<input type="submit" class="btnJoin" value="다음" >
						</div>
					</td>
				</tr>
			</table><br/>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<footer th:include="thymeleaf/include/footer.html"></footer>
	</div>
	</form>
</body>
</html>