<!doctype html>
<html>
<head>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<link rel="stylesheet" href="../static/css/leisure/reserv_top.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<title>CSS Project2</title>
</head>

<body>
		<header>
			<div class="groupMenu" th:include="thymeleaf/main/top_menu.html"></div>
			<div class="leisureMenu" th:include="thymeleaf/leisure/leisure_top.html"></div>
		</header>


		<div class="contents">
			<div class="sub_visual reser2">
				<strong><img th:src="@{/static/img/leisure/loc_tit_reservation.png}" style="width: 20%; display: block; margin: auto; padding: 75px 0;"></strong>
				
			</div>
			<div>
				<h1 align="center">워터파크 예약</h1>
				<img th:src="@{/static/img/leisure/reser_hotel_step04.png}"
					style="display: block; margin: 0px auto;">
			</div>
			<th:block th:with="value1=0">
			<div class="leftcolumn">
				<div class="card">
					예약이 완료되었습니다
				</div>
			</div>
		</div>

		<div class="footer">
			<footer th:include="thymeleaf/include/footer.html"></footer>
		</div>
</body>
</html>