<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/member/relSelect.css">
<script src="https://kit.fontawesome.com/19c81546e5.js" crossorigin="anonymous"></script>
<script src="../static/jquery/jquery.js"></script>
<script type="text/javascript">
$(function(){
	document.getElementById('resDate').valueAsDate = new Date();
	
	
});

function cnclBtnClick(id){
		console.log(id);
		// 취소요청 버튼 클릭
		var cnclMent = "정말로 예약을 취소하시겠습니까? \n "+
		"※ 취소 위약금 정책 ※ \n"+
		"- 체크인 날짜 3일 전 오후 16시까지 위약금 없음.\n"+
		"- 체크인 날짜 2일 전 오후 16시까지 1박의 30% 위약금 부과.\n"+
		"- 체크인 날짜 1일 전 오후 16시까지 1박의 50% 위약금 부과.\n"+
		"- 체크인 날짜 1일 전 오후 16시 이후 및 노쇼의 경우 100% 위약금 부과.";
		// 취소요청 버튼 클릭
		if(confirm(cnclMent)){
			console.log("취소진행");
			$('#frm'+id).submit();
		};
		
};
</script>
<title></title>
</head>
<body>
<header>
	<div class="groupMenu" th:include="thymeleaf/main/top_menu.html"></div>
</header>
<div class="container">
	<div class="content">
		<div class="roomheader">
			<div class="roomheader_1">
				<div><i class="fas fa-home"></i> > MY페이지 > 예약조회 > 레저</div>
				<div class="roomheader_h2"><h2>레저</h2></div>
			</div>
			<div class="roomheader_2">
			</div>
		</div>
		<div class="resMent">
			<div><h3>예약확인 안내</h3></div>
			<div>예약취소 및 환불 문의를 통해 유의사항을 확인하실 수 있습니다.</div>
		</div>
		<div class="resSearch">
			<div class="Search_01">Search</div>
			<div class="resSearch_02">
				<div>
					<span>조회일자</span>
					<input type="date" class="resDate" id="resDate">
				</div>
				<div>
					<input type="button" class="searchBtn" value="조회" >
				</div>
			</div>
		</div>
		<div class="roomResList">
			<table th:if="${detailList.isEmpty()}">
				<tr>
					<td><h3>객실예약</h3></td>
				</tr>
				<tr>
					<th>이용일자</th>
					<th>상품명</th>
					<th>수량</th>
					<th>가격</th>
					<th>구매일자</th>
					<th>결제방법</th>
					<th>현재상태</th>
					<th>취소</th>
				</tr>
				<tr>
					<td colspan="8">레저 예약사항이 없습니다.</td>
				</tr>
			</table>
			<table th:if="${!detailList.isEmpty()}">
				<tr>
					<td><h3>객실예약</h3></td>
				</tr>
				<tr>
					<th>이용일자</th>
					<th>결제번호</th>
					<th>결제금액</th>
					<th>상품명</th>
					<th>수량</th>
					<th>구매일자</th>
					<th>결제방법</th>
					<th>현재상태</th>
					<th>취소</th>
				</tr>
				<tr th:each="list : ${detailList}">
					<form th:action="@{/pay/Lcncl}" method="post" name="frm" th:id="'frm'+${listStat.count}" th:object="${LeisureCnclCommand}">
						<td><span th:text="${#dates.format(list.USE_DATE, 'YYYY-MM-dd')}"></span></td>
						<td><span th:text="${list.PAY_NUM}"></span></td>
						<td><span th:text="${list.TOTAL_PRICE}"></span></td>
						<td><span th:text="${list.LEISURE_NAME}"></span></td>
						<td><span th:text="${list.TICKET_QTY}"></span></td>
						<td><span th:text="${#dates.format(list.RES_DATE, 'YYYY-MM-dd')}"></span></td>
						<td><span th:text="${list.PAY_TYPE}"></span></td>
						<td><span th:text="${list.STTUS_DIV_CD}"></span></td>
						<!-- <td><input type="button" class="cnclBtn" th:id="'cnclBtn_'+${listStat.count}" th:onclick="@{'cnclBtnClick(\''+${listStat.count} +'\')'}" value="취소신청"></td> -->
						<td th:switch="${list.STTUS_DIV_CD}">
							<input type="button" class="cnclBtn" th:id="'cnclBtn' + ${listStat.count}" value="취소신청" th:onclick="@{'javascript:cnclBtnClick(\''+${listStat.count}+'\');'}"  th:case="결제완료">
							<span th:case="예약취소"></span>
						</td>
						<td style="display: none;">
							<input type="hidden" name="payNum" th:value="${list.PAY_NUM}">
							<input type="hidden" name="ticketNum" th:value="${list.TICKET_NUM}">
							<input type="hidden" name="price" th:value="${list.TOTAL_PRICE}">
						</td>
					</form>
				</tr>
			</table>
		</div>
	</div>
	<div class="myPageMenu">
		<div class="myPageTapMenu" th:include="thymeleaf/member/myPageTap.html"></div>
	</div>
</div>
</body>
</html>