<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/member/relSelect.css">
<script src="https://kit.fontawesome.com/19c81546e5.js" crossorigin="anonymous"></script>
<script src="../static/jquery/jquery.js"></script>
<script type="text/javascript">
$(function(){
	document.getElementById('resDate').valueAsDate = new Date();
	
	// 취소요청 버튼 클릭
	$("#cnclBtn").click(function(){
		if(confirm("정말로 예약을 취소하시겠습니까?")){
			$("#cnclBtn").submit();
		};
	});
})
</script>
<title></title>
</head>
<body>
<header>
	<div class="groupMenu" th:include="thymeleaf/main/top_menu.html"></div>
</header>
<div class="container">
	<div class="content">
		<div class="roomheader">
			<div class="roomheader_1">
				<div><i class="fas fa-home"></i> > MY페이지 > 예약조회 > 레저</div>
				<div class="roomheader_h2"><h2>레저</h2></div>
			</div>
			<div class="roomheader_2">
			</div>
		</div>
		<div class="resMent">
			<div><h3>예약확인 안내</h3></div>
			<div>예약취소 및 환불 문의를 통해 유의사항을 확인하실 수 있습니다.</div>
		</div>
		<div class="resSearch">
			<div class="Search_01">Search</div>
			<div class="resSearch_02">
				<div>
					<span>조회일자</span>
					<input type="date" class="resDate" id="resDate">
				</div>
				<div>
					<input type="button" class="searchBtn" value="조회" >
				</div>
			</div>
		</div>
		<div class="roomResList">
			<table>
				<tr>
					<td><h3>객실예약</h3></td>
				</tr>
				<tr>
					<th>상품명</th>
					<th>이용일자</th>
					<th>인원</th>
					<th>가격</th>
					<th>구매일자</th>
					<th>결제방법</th>
					<th>현재상태</th>
					<th>취소</th>
				</tr>
				<tr>
					<td>디럭스더블저층</td>
					<td>2020.11.28</td>
					<td>2</td>
					<td>225,000원</td>
					<td>구매일자</td>
					<td>결제방법</td>
					<td>결제완료</td>
					<td><input type="button" class="cnclBtn" id="cnclBtn" value="취소신청"></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="myPageMenu">
		<div class="myPageTapMenu" th:include="thymeleaf/member/myPageTap.html"></div>
	</div>
</div>
</body>
</html>