<!doctype html>
<html>
<head>
<title>내명파크</title>
<style>
table {
	margin-left: auto;
	margin-right: auto;
	border-style: none;
}

.bg {
	font-size: 22px;
	width: 500px;
}
thead tr{
	background-color: darkgray
}
 tbody tr:nth-child(odd) {
	background-color: #f1f1f1
}

</style>
<script>
	
</script>
</head>

<body>
	<header>
		<div class="groupMenu" th:include="thymeleaf/main/top_menu.html"></div>
	</header>

	<table width="70%">
		<caption style="font-size: 20px; font-weight: bold; text-align: left">예약자리스트
			<input type="text" placeholder="발권번호 입력">
			<button>검색</button>
			<button>전체보기</button>
			</caption>
		<thead>
			<tr>
				<td width="25%">아이디</td>
				<td width="25%">이름</td>
				<td width="25%">이용일자</td>
				<td width="25%">레저번호</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
			</tr>
			<tr>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
			</tr>
			<tr>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
			</tr>
		</tbody>
	</table>
	<div class="footer">
		<footer th:include="thymeleaf/include/footer.html"></footer>
	</div>
</body>
</html>