<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fourMyung.mapper.LeisureMapper" >
<insert id="insertLeisure" parameterType="fourMyung.domain.leisure.LeisureDTO">
	insert into l_lsr_list ( leisure_num, leisure_name, leisure_age, leisure_time, leisure_price )
		values(NUM_SEQ.nextval,#{leisureName},#{leisureAge},#{leisureTime},#{leisurePrice})
</insert>

<resultMap type="fourMyung.domain.leisure.LeisureDTO" id="baseLeisure" >
	<constructor>
		<idArg column="leisure_num" javaType="int" />
		<arg column="leisure_name" javaType="string" />
		<arg column="leisure_age" javaType="string" />
		<arg column="leisure_time" javaType="string" />
		<arg column="leisure_price" javaType="int"/>
	</constructor>
</resultMap>

<select id="selectByLeisure" parameterType="fourMyung.domain.leisure.LeisureDTO" resultMap="baseLeisure"> 
	select leisure_num, leisure_name, leisure_age, leisure_time, leisure_price 
	from l_lsr_list
	order by leisure_num desc
</select>

<delete id="leisureDel" parameterType="int">
	delete from l_lsr_list
	<where>
		leisure_num = #{leisureNum}
	</where>
</delete>

<select id="getLeisureCount" resultType="int">
		select count(*) from l_lsr_list
</select>

<select id="selectTicketNum" resultType="string">
	select num_seq.nextval from dual
</select>

<insert id="insertTicket" parameterType="fourMyung.domain.leisure.LeisureTicketDTO">
	insert into L_TICKET (TICKET_NUM, TOTAL_PRICE, PH_NUM, USE_DATE, RES_DATE, PAY_TYPE)
	values(#{ticketNum}, #{totalPrice}, #{phNum}, #{useDate}, sysdate, #{payType})
</insert>

<insert id="insertLeisureUser" parameterType="fourMyung.domain.leisure.LeisureUserInfoDTO">
	insert into L_USER(USER_ID, TICKET_NUM)
	values(#{userId}, #{ticketNum})
</insert>

<insert id="insertTicketDetail" parameterType="fourMyung.domain.leisure.LeisureTicketDetailDTO" >
	insert into L_TICKET_DETAIL(TICKET_NUM, LEISURE_NUM, TICKET_QTY)
	values(#{ticketNum}, #{leisureNum}, #{ticketQty})
</insert>

<resultMap type="fourMyung.domain.leisure.ReservListDTO" id="baseTicket" >
	<constructor>
		<idArg column="ticket_num" javaType="String" />
		<arg column="leisure_num" javaType="string" />
		<arg column="ticket_qty" javaType="int" />
		<arg column="use_date" javaType="date" />
		<arg column="user_id" javaType="string" />
	</constructor>
</resultMap>

<select id="selectByTicket" parameterType="fourMyung.domain.leisure.ReservListDTO" resultMap="baseTicket">
	select d.ticket_num as ticket_num, d.leisure_num as leisure_num, d.ticket_qty as ticket_qty, t.use_date as use_date, u.user_id as user_id
	from l_ticket_detail d
	inner join l_user u
	on d.ticket_num = u.ticket_num
	inner join l_ticket t
	on d.ticket_num = t.ticket_num
	order by d.ticket_num
</select>
</mapper>







